<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.relit.health_care_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".feeling.FeelingAddActivity" />
        <activity android:name=".weight.WeightAddActivity" />
        <activity android:name=".weight.WeightChartActivity" />
        <activity android:name=".sugar.SugarChartActivity" />
        <activity android:name=".sugar.SugarAddActivity" />
        <activity
            android:name=".pressure.PressureChartActivity"
            android:label="@string/pressure" />
        <activity
            android:name=".pressure.PressureAddActivity"/>
        <activity
            android:name=".temperature.TemperatureChartActivity"
            android:label="@string/temperature"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Coronavirus"
            android:label="@string/covid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".temperature.TemperatureAddActivity"
            android:label="@string/temperature"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChoiceActivity"
            android:label="@string/title_activity_choice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Menu"
            android:label="Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>